.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.ui.header .content.header-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: auto;
}

.max-price-edit {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.ui.modal > .content.modal-content {
  display: flex;
  justify-content: center;
}

.modal-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.modal-input {
  margin-top: 10px;
}
